# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.tgz

# Developer IDEs etc.
.idea/*
.vscode/*

# Other
release_description.md
coverage.html
vendor/
server.crt
server.key
tmp/
app
all.yaml
db.json
